body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#mainHeading{
    color: #e82ddf;
}

.highlight{
    color: #5669bd;
}

.fotoOfMe{
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.aboutMeText{
    float: left;
}

.reset {
    clear: both;
}

.hobbyList{
    float: left;
    margin-right: 2%;
    clear: both;
    margin-top: 1%;
    margin-left: 2%;
}

.dnd{
    float: left;
    
}

.meme{
margin-top: 2%;
}

.media{
    float: left;
    clear: both;
    margin: 1% auto auto 2%;
    width: 40%;
}

#media1{
    margin-right: 5%;
}

#media2{
    margin-right: 5%;
}

#media3{
    margin-right: 5%;
}

#pageContainer{
    width: 1350px;
    margin: 0px auto 0px auto;
} 