body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/*color in text*/
#mainHeading{
    color: #e82ddf;
}

.highlight{
    color: #5669bd;
}

#bold{
    text-decoration: underline;
}

/*bout me*/
.fotoOfMe{
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    border-radius: 30px;
}

.aboutMeText{
    float: left;
}

/*in hobbies and end of container */
.reset {
    clear: both;
}

/*hobby*/
.hobbyList{
    float: left;
    margin-right: 2%;
    clear: both;
    margin-top: 1%;
    margin-left: 2%;
}

.dnd{
    float: left;
    
}
/*meme + media*/
.meme{
margin: 2% 0% 0% 0%;
padding: 8px 0% 0% 0%; /*doesn't push de rest down*/
}

.media{
    float: left;
    clear: both;
    margin: 1% auto auto 2%;
    width: 40%;
}

.media1{
    margin-right: 5%;
    border-radius: 20px;
}

.media2{
    margin-right: 5%;
    border-radius: 20px;
}

.media3{
    margin-right: 5%;
    border-radius: 5px;
}
/* everything */
#pageContainer{
    width: 1350px;
    margin: 0px auto 0px auto;
} 